<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">    <title>Welcome and Chose a Course</title>

  <style type="text/css">
    body{
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Courses List</h1>
    <ul>
        <li th:each="course : ${courses}">
            <th:block th:text="${course.getName()}"> </th:block>
            <th:block th:text="${'-'}"></th:block>
            <th:block th:text="${course.getDescription()}"></th:block>

        </li>
    </ul>
</header>

<main>
    <h2>Chose course</h2>

    <form th:method="POST" th:action="@{/AddStudent}">
    <input type="radio" name="courseId" value="1"> Web programming <br/>
    <input type="radio" name="courseId" value="2"> Operative system<br/>
    <input type="radio" name="courseId" value="3"> Electronic and mobile commerce<br/>
    <input type="radio" name="courseId" value="4"> Computer networks <br/>
    <br/>
    <button class="btn btn-success" type="submit">Submit</button>
    </form>
</main>

</body>
</html>