<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">

        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }

    </style>

</head>
<body>
<div class="container">
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <a th:href="@{/create-student}" type='button'>Create New Student</a> <br/> <br/>
    <div th:if="${hasError}">
        <h1 th:text="${error}" style="color: red"></h1>
        <h3 th:text="${username}"></h3>
    </div>
    <form method="POST" th:action="@{/course/{id}/add-student-to-course (id=${courseId})}">

    <div th:each="student : ${students}">

            <input type="radio" name="studentUsername" th:value="${student.getUsername()}"
    th:text="${student.getName()} + ${' '} + ${student.getSurname()}"> <br/>
    <br/>
    </div>
        <div th:if="${hasError != true}">


    <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <div th:if="${hasError}">
        <a  th:href="@{/course/{id}/add-student (id=${courseId})}" class="btn btn-success">Back</a>

    </div>

<br/>
    <br/>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${session.courseId}"></td>
        </tr>
    </table>
</aside>
    <br/>
    <br/>
</div>
</body>
</html>